In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv('d:/datasets/analytics/Wholesale customers data.csv')

In [6]:
customers.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [9]:
# import the KMeans algorithm
from sklearn.cluster import KMeans

In [8]:
# initialize the model
# K = ?  5
customers_model = KMeans(n_clusters=5)

In [10]:
# Train the model ;  no target/label
customers_model.fit(customers)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [11]:
# Generate the labels

labels = customers_model.predict(customers)

In [12]:
print(labels)

[1 1 1 1 0 1 1 1 1 3 3 1 0 0 0 1 3 1 0 1 0 1 0 3 0 0 1 1 3 0 0 1 0 0 1 1 0
 3 3 4 0 0 3 3 1 3 3 2 1 3 1 1 0 3 0 1 3 3 1 1 1 2 1 3 1 3 1 0 1 1 0 0 1 0
 1 0 1 3 1 1 1 3 1 0 1 2 2 4 1 0 1 1 3 1 3 1 1 1 1 1 3 3 1 4 1 0 1 3 1 3 1
 3 0 1 0 1 1 1 0 1 0 1 1 1 0 4 0 0 1 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0 3 1 1
 1 0 0 1 0 1 1 3 3 0 1 3 1 1 1 3 1 3 1 1 1 1 3 3 1 3 1 3 4 1 1 1 1 4 3 4 1
 1 1 1 3 3 0 1 1 3 1 0 0 1 1 1 3 3 0 1 1 3 1 1 1 3 0 3 1 1 1 3 3 0 3 1 1 1
 1 1 1 1 0 1 1 1 1 1 0 1 0 1 1 0 1 4 0 0 0 1 1 3 1 1 0 1 1 3 1 0 1 0 1 1 4
 4 1 1 0 1 3 3 3 0 3 1 1 1 1 0 1 1 0 1 1 0 1 1 4 0 4 0 1 0 0 0 1 1 1 3 0 1
 0 1 1 1 0 3 1 3 3 3 3 0 1 3 1 0 3 1 1 3 1 1 1 3 1 1 0 1 0 4 1 1 0 1 1 3 0
 2 0 0 1 1 1 1 1 1 1 3 1 1 3 0 1 3 1 3 1 3 1 1 0 3 1 1 0 1 1 1 1 1 1 1 0 1
 0 0 1 0 1 1 3 0 1 1 0 0 0 1 3 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 0 0 0 0 1 0
 3 1 1 1 1 1 1 1 1 3 1 3 1 3 0 0 0 0 1 3 0 1 1 3 1 0 1 0 0 0 3 1 1]

In [13]:
# add the label to customer dataframe
customers['Classification'] = labels

In [14]:
customers.head()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,Classification
0,2,3,12669,9656,7561,214,2674,1338,1
1,2,3,7057,9810,9568,1762,3293,1776,1
2,2,3,6353,8808,7684,2405,3516,7844,1
3,1,3,13265,1196,4221,6404,507,1788,1
4,2,3,22615,5410,7198,3915,1777,5185,0

In [16]:
# Separate -- customers ... 
customers[customers['Classification'] == 1]

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,Classification
0,2,3,12669,9656,7561,214,2674,1338,1
1,2,3,7057,9810,9568,1762,3293,1776,1
2,2,3,6353,8808,7684,2405,3516,7844,1
3,1,3,13265,1196,4221,6404,507,1788,1
5,2,3,9413,8259,5126,666,1795,1451,1
...,...,...,...,...,...,...,...,...,...
429,1,3,8607,1750,3580,47,84,2501,1
431,1,3,8533,5506,5160,13486,1377,1498,1
433,1,3,1982,3218,1493,1541,356,1449,1
438,1,3,10290,1981,2232,1038,168,2125,1
439,1,3,2787,1698,2510,65,477,52,1

In [17]:
customers['Classification'].unique()

array([1, 0, 3, 4, 2])

In [18]:
len(customers)

440

In [19]:
customers.head(1)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,Classification
0,2,3,12669,9656,7561,214,2674,1338,1

In [23]:
customers_model.predict([[1,2,200,800,7000,20,2000,1202]])

array([1])